html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: proxima-nova, sans-serif;
	font-weight: 100;
}

h1,
h2,
h3,
h4 {
	font-weight: 100;
}

h2 {
	display: inline-block;
	border: 1px solid #333;
	padding: 10px;
	box-shadow: 3px 3px 0 0 #000;
}

img {
	max-height: 100%;
	max-width: 100%;
}

#root {
	display: grid;
	min-height: 100%;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
}

nav {
	padding: 10px;
	background-color: #275197;
}

nav svg {
	width: 25px !important;
}

nav a {
	display: block;
	margin-bottom: 5px;
}

nav a,
nav a:visited {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	padding-right: 20px;
}

nav a:hover {
	text-decoration: underline;
}

footer {
	padding: 10px;
	background-color: #275197;
	color: #fff;
	margin-top: 50px;
}

footer a,
footer a:visited {
	color: #fff;
	text-decoration: none;
}

#page {
	margin: 10px;
}

.exclaim {
	background-color: yellow;
	font-weight: 600;
}

@media only screen and (min-width: 768px) {
	#page {
		width: 60vw;
		margin: 0 auto;
	}

	header,
	footer {
		text-align: center;
	}

	nav a {
		display: inline;
	}

	#schedule {
		display: flex;
		width: 100%;
	}

	#schedule .item {
		padding: 5px;
		flex: 1;
	}

	#schedule .item h3 {
		margin-top: 0;
	}
}
