html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 100;
	font-size: 1.125em;
}

h1, h2, h3, h4 {
	font-family: rift-soft
}

h1 {
	font-size: 2.5em;
	margin: 0 0 16px 0;
}

h2 {
	font-size: 2.1em;
	margin: 0 0 8px 0;
}

h3 {
	font-size: 1.7em;
	margin: 0 0 4px 0;
}

h4 {
	font-size: 1.3em;
	margin: 0 0 2px 0;
}

img {
	max-height: 100%;
	max-width: 100%;
}

blockquote {
	margin: 0 0 0 5px;
	border-left: 1px solid #aaa;
	padding-left: 10px;
	color: #777;
}

#root {
	display: grid;
	min-height: 100%;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
}

nav {
	padding: 10px;
	background-color: #0d29ff;
}

nav svg, #sponsorships svg {
	width: 25px !important;
}

nav a {
	display: block;
	margin-bottom: 5px;
}

nav a,
nav a:visited {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	padding-right: 20px;
}

nav a:hover {
	text-decoration: underline;
}

#footer-sponsors {
	padding: 8px;
}

#footer-sponsors section {
	background-color: #fff;
}

#footer-sponsors section a {
	display: block;
	margin: 8px;
}

#footer-info {
	background-color: #020800;
	color: #e6e8f5;
	padding: 16px 32px 16px 32px;
}

#footer-info a,
#footer-info a:visited {
	color: #e6e8f5;
	text-decoration: none;
}

#footer-core-info {
	font-family: rift-soft;
	font-size: 2.5em;
	color: #e6e8f5;
	margin: 0 0 16px 0;
}

ul#past-confs, ul#connect-list {
	padding: 0;
}

ul#past-confs>li, ul#connect-list>li {
	list-style: none;
	padding-bottom: 10px;
}



#page {
	background-color: #fff;
	margin: 8px;
	padding: 16px;
}

.exclaim {
	padding: 2px;
	background-color: yellow;
	font-weight: 500;
}

table#sponsorships th {
	vertical-align: bottom;
	text-align: left;
}

table#sponsorships th, table#sponsorships td {
	white-space: nowrap;
}

table#sponsorships span.check {
	writing-mode: vertical-rl;
	text-orientation: sideways;
	white-space: nowrap;
}

.tierCol, .qCol {
	display: none;
}


#tickets th, #tickets td {
	text-align: left;
	padding: 10px;
}

.button {
	font-size: 1.5em;
	font-weight: 500;
	padding: 16px;
	border: none;
  	border-radius: 3px;
	background-color: #0d29ff;
	color: #e6e8f5;	
}

.cta {
	font-size: 1.5em;
	font-weight: 500;
  	padding: 16px;
  	border-radius: 3px;
  	text-decoration: none;
	display: inline-block;
	background-color: #ef3e4a;
	color: #e6e8f5;
}

a.cta:hover {
	text-decoration: underline;
}

.nope {
	color: #000;
	background-color: #ccc;
}

/* Landing page styles */

#landing section, footer #attendees {
	padding: 16px;
	margin-bottom: 8px;
}

#landing section.filler {
	padding: 0px !important;
}

#landing section.filler img {
	width: 100%;
}

#landing #tickets, #landing #events, #landing #email, #landing #designed-by {
	background-color: #b9debc;
}

#landing #venue, footer #attendees {
	background-color: #FFD101;
}

#landing #code-of-conduct {
	background-color: #FF9966;
}

#landing #week, #landing #organizers  {
	background-color: #e6e8f5;
}

#landing #metrics {
	background-color: #1D48A4;
	color: #FF9966;
	text-align: center;
}

#landing #hero {
	background-repeat: no-repeat;
	background-position: center; 
	background-size: auto;
	text-align: center;
}

#landing #tagline {
	background-color: #0d29ff;
	color: #e6e8f5;
	padding: 8px;
	font-size: 2.8vw;
	line-height: 5vw;
}

#events-list td {
	vertical-align: top;
	padding: 0 10px 10px 0;
}

.metric {
	font-family: rift-soft;
	font-size: 4.125em;
	font-weight: 500;
}

.metric-tag {
	font-size: 1.25em;
}

#speakers {
	background-color: #fff;
}

#speaker-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
}

#speaker-list .speaker {
	height: 300px;
	width: 150px;
	display:flex;
	flex-direction: column;
	margin-right: 8px;
	margin-bottom: 8px;
}

#speaker-list .speaker a, #speaker-list .speaker img, #speaker-list .speaker .no-image {
	height: 150px;
	width: 150px;
}

#speaker-list .speaker .no-image {
	background-color:#000;
}

#speaker-list .speaker-info {
	background-color: #0d29ff;
	flex: 1;
	padding: 8px;
	display: flex;
	flex-direction: column;
}

#speaker-list .speaker:hover .speaker-info {
	background-color: #b9debc;
	color: #0d29ff;
}

#speaker-list .speaker:hover .speaker-name {
	color: #0d29ff;
}

#speaker-list .speaker:hover .speaker-misc {
	color: #0d29ff;
}

#speaker-list .speaker-name {
	font-family: rift-soft;
	font-size: 1.6em;
	color: #fff;
	flex-grow: 1
}

#speaker-list .speaker-misc {
	font-family: rift-soft;
	font-size: 1em;
	color: #b9debc;
}

#organizer-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
}

#organizer-list .organizer {
	height: 300px;
	width: 150px;
	display:flex;
	flex-direction: column;
	margin-right: 8px;
	margin-bottom: 8px;
}

#organizer-list .organizer a, #organizer-list .organizer img {
	height: 150px;
	width: 150px;
}

#organizer-list .organizer-info {
	background-color: #020800;
	flex: 1;
	padding: 8px;
	display: flex;
	flex-direction: column;
}

#organizer-list .organizer-name {
	font-family: rift-soft;
	font-size: 1.6em;
	color: #fff;
	flex-grow: 1
}

#organizer-list .organizer-misc {
	font-family: rift-soft;
	font-size: 1em;
	color: #fff;
}

#speaker .speaker-info {
	display: flex;
}

#speaker .speaker-photo {
	width: 300px;
	margin-right: 16px;
}

#speaker .speaker-more p {
	margin-top:0;
}




#attendee-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
}

.attendee {
	height: 100px;
	width: 100px;
	margin: 5px;
}

/* Mailchimp embed styles */

#mce-EMAIL {
	width:50%;
	padding: 16px;
	font-size: 1.5em;
}

.response {
	padding: 8px;
} 

/* end Mailchimp */

#mce-error-response {
	color: red;
}

/* responsive Youtube embed */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
	
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


@media only screen and (min-width: 768px) {
	#landing {
		display: grid;
		min-height: 100%;
		grid-template-rows: 100%;
		grid-template-columns: 1fr 2fr 1fr;
		grid-gap: 8px;
		padding: 8px;
	}

	#page {
		width: 60vw;
		margin: 32px auto;
	}

	header {
		text-align: center;
	}

	nav a {
		display: inline;
	}

	#schedule {
		display: flex;
		width: 100%;
	}

	#schedule .item {
		padding: 5px;
		flex: 1;
	}

	#schedule .item h3 {
		margin-top: 0;
	}

	table#sponsorships th, table#sponsorships td {
		padding: 10px;
	}

  	.tierCol, .qCol {
    	display: table-cell;
  	}
	#tickets th, #tickets td {
		font-size: 1vw;
	}

	#landing #tagline {
		font-size: 1.25vw;
		line-height: 2vw;
	}

	#footer-sponsors {
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 3fr 2fr 1fr;
		grid-gap: 8px;
	}
	
	footer #attendees {
		margin: 8px;
	}

	#footer-sponsors section {
		padding: 16px;
	}

  	#footer-info {
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 1fr 2fr 1fr;
		grid-gap: 8px;
	}
	  
	#footer-core-info {
		font-size: 4.5vw;
	}
}
